<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="studentDao" class="cvr.otus.dao.StudentDao"/>
    <bean id="studentService" class="cvr.otus.service.StudentService">
        <constructor-arg name="studentDao" ref="studentDao"/>
    </bean>
    <bean id="questionDao" class="cvr.otus.dao.QuestionDao"/>

    <bean id ="questionService" class="cvr.otus.service.QuestionService">
        <constructor-arg name="questionDao" ref="questionDao"/>

    </bean>

</beans>